@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    font-family: 'Work Sans', sans-serif;
    height: 4000px;
}
body {
    background: white;
}
.firstnav{
    background: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    box-shadow: 0 6px 50px rgba(0,0,0,0.16); 
    margin-bottom: 0px;
    position:fixed;
}
#solarlogo{
    height: 60px ;
    float: left;
    margin-left: 40px;
}
.search{
 width: 828px;
 height:50px;
 display: flex;
 justify-content:center;  
}
.search select ,input ,button {
    border: 0.5px solid #ADADAD;
    border-left: none;
    border-right: none;

}
.search select {
    width: 10%;
    height: 100%;
    padding-left: 15px;
    margin-left: 20px;
    font-size: 18px;
    border: 0.5px solid #ADADAD;
}

.search input{
    width: 50%;
    height: 100%;
    font-size: 16px;
    padding-left: 15px;
   /* color: #ADADAD;*/

}

.search input[type="button"]{
    width: 20%;
    height: 100%;
    background-color: #1682C5;
    border: none;
    font-size: 21px;
    color: white;
    padding: 5px;
    
}
.search input[type="button"]:hover{
     cursor: pointer;
}
#cart-logo{
    width: 38px;
    height: 40px;
    margin-right: 20px;  
}
.login-sign{
    display: flex;
    justify-content: space-around;
    float: right;
    margin-right: 20px;
    
}
#user-logo{
    width: 26px;
    height: 28px;
    margin-right: 3px;
}
.login-sign ul {
    padding-top: 2px;
}
.login-sign ul li  {
    
    list-style-type: none;
    display: inline;
    margin-right: 2px;

}
.login-sign ul a {
    text-decoration:none;
    font-size: 20px;
    color: black;
}
/************************************************/
.secnav{
width: 100%;
display: flex;
padding-top: 90px;
justify-content: center;
}
.nav-links{
    background-color:#1682C5 ;
    width: 100%;
    display: flex;
    justify-content:center;
}
.nav-links li{
list-style-type: none;
font-size: 20px;
padding: 10px;
padding-right: 60px;
}
.nav-links li a{
    text-decoration: none;
    color: white;
    
}
.nav-links li a:hover{
    font-weight: bold;
}
/***************sec nav*********************************/
.container{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(Images/home-bg.png);
    background-position: center;
    background-size: cover;
    color: white;
    width: 100%;
    height: 80vh;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.Left-p{
    padding:15px;
    padding-left: 20px;
    line-height: 55px;
}
.Left-p p ,ul ,h3{
    
    padding-left: 30px;
}
.Left-p h3 {
    font-size: large;
    font-weight: 400;
}
.Left-p p {
    line-height: 17px;
    font-size: 13px;
    margin: 10px;
    margin-left:0px;
    margin-top: auto;
}
.Left-p h1{
    font-size: 50px;
}
.Left-p ul {
    line-height: 35px;
    
}
.Left-p ul li{
    list-style:  inside url("images/Ellipse%202.png")
}
.Left-p li a{
    text-decoration: none;
    color: white;
}
.Left-p li a:hover{
    font-weight: bold;
}
.Left-p input {
    border: none;
    width: 360px;
    height: auto;
    
}
#last-p{
    font-size: 14px;
    margin-top: 1em;
}
.right-p{
    
}
    

