@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    font-family: 'Work Sans', sans-serif;
    height: 5934px;
}
body {
    background: white;
}
.but{
    width: 200px;
    height: 45px;
   background: linear-gradient(#F15A2B , #C02D00);
   border-radius: 40px;
   border: none;
   color: white;
   font-size: 20px;
   font-weight: bold;
}
.but:hover{
    cursor: pointer;
}

.firstnav{
    background: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    box-shadow: 0 6px 50px rgba(0,0,0,0.16); 
    margin-bottom: 0px;
    position:fixed;
}
#solarlogo{
    height: 60px ;
    float: left;
    margin-left: 40px;
}
.search{
 width: 828px;
 height:50px;
 display: flex;
 justify-content:center;  
}
.search select ,input ,button {
    border: 0.5px solid #ADADAD;
    border-left: none;
    border-right: none;

}
.search select {
    width: 10%;
    height: 100%;
    padding-left: 15px;
    margin-left: 20px;
    font-size: 18px;
    border: 0.5px solid #ADADAD;
}

.search input{
    width: 50%;
    height: 100%;
    font-size: 16px;
    padding-left: 15px;
   /* color: #ADADAD;*/

}

.search input[type="button"]{
    width: 20%;
    height: 100%;
    background-color: #1682C5;
    border: none;
    font-size: 21px;
    color: white;
    padding: 5px;
    
}
.search input[type="button"]:hover{
     cursor: pointer;
}
#cart-logo{
    width: 38px;
    height: 40px;
    margin-right: 20px;  
}
.login-sign{
    display: flex;
    justify-content: space-around;
    float: right;
    margin-right: 20px;
    margin-left: 0px;
}
#user-logo{
    width: 26px;
    height: 28px;
    margin-right: 3px;
}
.login-sign ul {
    padding-top: 2px;
    margin: 0px;
    padding-left: 4px;
}
.login-sign ul li  {
    
    list-style-type: none;
    display: inline;
    margin-right: 2px;
    
}
.login-sign ul a {
    text-decoration:none;
    font-size: 20px;
    color: black;
}
/***************sec nav*********************************/
.secnav{
width: 100%;
display: flex;
padding-top: 90px;
justify-content: center;
}
.nav-links{
    background-color:#1682C5 ;
    width: 100%;
    display: flex;
    justify-content:center;
}
.nav-links li{
list-style-type: none;
font-size: 20px;
padding: 10px;
padding-right: 60px;
}
.nav-links li a{
    text-decoration: none;
    color: white;
}
.nav-links li a:hover{
    font-weight: bold;
}
/*********** first container*************************************/
.container{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(Images/home-bg.png);
    background-position: center;
    background-size: cover;
    color: white;
    width: 100%;
    height: 80vh;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.Left-p{
    padding:15px;
    padding-left: 20px;
    line-height: 55px;
}
.Left-p p ,ul ,h3{
    
    padding-left: 30px;
}
.Left-p h3 {
    font-size: large;
    font-weight: 400;
}
.Left-p p {
    line-height: 17px;
    font-size: 13px;
    margin: 10px;
    margin-left:0px;
    margin-top: auto;
}
.Left-p h1{
    font-size: 50px;
}
.Left-p ul {
    line-height: 35px;
    
}
.Left-p ul li{
    list-style:  inside url("images/Ellipse%202.png");
}
.Left-p li a{
    text-decoration: none;
    color: white;
}
.Left-p li a:hover{
    font-weight: bold;
}
.Left-p input {
    width: 360px;
    margin-top: 20px;
}
#last-p{
    font-size: 14px;
    margin-top: 1em;
}
/****************container 2 ************************************/

.container2{
 padding: 40px;
 background-image: url("Images/back-2.jpg");
 background-position: center;
 background-size: cover;
}
.hap{
    text-align: center;
}
.hap p {
    padding-top: 20px;
    margin-bottom: 10px;
}

.photos-cont{
    width: 100%;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%;
    justify-items: center;
    align-items: center;
}
.photos-cont input{
    background: white;
    color: #B3B3B3;
    border: 0.5px solid #B3B3B3;
    margin: 200px 10px;
    margin-top: 200px;
}
.photos-cont input:hover{
    color:#035485;
    border: 0.5px solid #035485;
}
.image1{
    background-color: white;
    box-shadow: 0px 35px 60px rgba(205,205,205,0.42);
    height: 300px;
    width: 225px;
    padding: 30px;
    display: grid;
    grid-template-rows: 150px 40px ;
    justify-items: center;
    align-items: center;
    
}
.image1 img{
    width: 150px;
    padding-top: 10px;
   
}
.image1 h3{
    padding: 0px;
    
}
.image2 {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 35px 60px rgba(205,205,205,0.42);
    padding: 30px;
    display: grid;
    justify-items: center;
    align-items: center;
    line-height: 35px;
}
.image2:hover{
    border: 0.5px solid rgba(241,90,43,0.5) ;
}
.image2 img{
    height: 250px;
    margin-bottom: 10px;
}
.image2 h4 {
    font-weight: 400; 
    font-size: 20px;
}
.image2 a {
    text-decoration: none;
    color: #F15A2B;
    font-weight: 600;
    margin-top:10px ;
}
.last{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.last input{
    /*margin-left: 520px;
    margin-top: 40px;*/
    
}
/******************container 3*******************************************/
.browse{
   /* margin-left: 90px;
    margin-top: 20px;
    margin-right: 70px;
    display: flex;
    justify-content: space-between;    */
    width: 85%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;

}
.arrows input{
    height: 17px;
    border: none;
    margin: 15px;
}
.photo-cont2{
    overflow: hidden;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 470px;
    column-gap: 40px;
 }
 .prod1{
     background-image:  linear-gradient(rgba(0, 0, 0, 0.144),rgba(0, 0, 0, 0.226)), url("Images/top-ten-bg.png");
     background-position: center;
     background-size: cover;
     color: white;
     width:85%;
     height: 65vh;
     box-shadow: 0px 35px 60px rgba(205,205,205,0.42); 
 }
.prod1 h1{
    margin: 60px 30px 30px 30px ;
}
.prod1 p{
    margin: 0px 20px 40px 30px;
}
.prod1 input{
    margin-left: 30px;
}
 .pr234{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     column-gap: 90px;
     line-height: 30px;
     margin: auto;

 }
 .prod2 img, .prod3 img , .prod4 img{
    width: 100%;
}
.prod2 h4,p,h5 , .prod3 h4,span,h5 , .prod4 h4,span,h5 {
    margin-left: 15px;
}
.prod2 , .prod3 , .prod4{
    background-color: white;
    box-shadow: 0px 35px 60px rgba(205,205,205,0.42); 
}

.but-arr{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(#1682C5 , #002135);
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin: 0px 25px 10px 0px;
    
}
.but-arr:hover{
    cursor: pointer;
}
/***********************************************************/
.how-it-H{
    text-align: center;
    margin: 20px 0px 0px 0px;
    line-height: 80px;
}
.container3{ /********************************************************/
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 0px 160px ;
}
.num-logo{
    width: 60px;
    height: 60px;
    border-radius: 60%;
    
    font-size: 25px;
    font-weight: 400;
    color: white;
    background: linear-gradient(#1682C5 , #004C7A);
}
.we-support input:hover{
    cursor: auto;
}
.we-design{/************************************************/
    display: flex;
}
.we-design img{
    width: 220px;
    height: 200px;
    border-radius: 5%;
    box-shadow: 0px 35px 60px rgba(205,205,205,0.42);
    margin: 0px 10px 0px 0px ;
}
.we-design input{
 margin: 80px 15px 0px 0px;
}
.we-design div{
    padding-top: 100px;
}
.we-design div h4{
    font-size: 25px;
    font-weight: 400;
}
.we-design div p {
    width: 250px;
    margin: 10px 0px 0px 0px;
}
.we-support{/************************************************/
    display: flex;
    
}
.we-support img{
    width: 200px;
    height: 200px;
    border-radius: 5%;
    box-shadow: 0px 35px 60px rgba(205,205,205,0.42);
    margin: 5px 10px 0px 10px ;
}
.we-support input{
    margin :80px 0px 0px 10px ;
}

.we-support div{
    padding-top: 100px;
}
.we-support div h4{
    font-size: 25px;
    font-weight: 400;
    direction: rtl;
}
.we-support div p {
    direction: rtl;
    width: 250px;
    margin: 10px 0px 0px 0px;
    font-size: 15px;
}

.logo-2-3{/*************************************************/
    display:flex;
    justify-content: space-around;
    margin-top: 40px;

}
.logo-2-3 input[value="2"]{
    margin-left:8%;
}
.logo-2-3 input[value="3"]{
    margin-right:-3%;
}
.contaner4{
    display: flex;
}
.we-ship{/************************************************/
    display: flex;
    margin-left: 25%;
    margin-top: 20px;
}
.we-ship img{
    width: 200px;
    height: 180px;
    border-radius: 5%;
    box-shadow: 0px 35px 60px rgba(205,205,205,0.42);
    margin: 0px 15px 0px 50px ;
}

.we-ship div{
    padding-top: 10px;
}
.we-ship div h4{
    font-size: 25px;
    font-weight: 400;
}
.we-ship div p {
    width: 250px;
    margin: 15px 0px 0px 0px;
}
.you-install{/************************************************/
    display: flex;
    margin-top: 20px;
}
.you-install img{
    width: 200px;
    height: 180px;
    border-radius: 5%;
    box-shadow: 0px 35px 60px rgba(205,205,205,0.42);
    margin: 0px 15px 0px 40px ;
}

.you-installdiv{
    padding-top: 10px;
}
.you-install div h4{
    font-size: 25px;
    font-weight: 400;
}
.you-install div p {
    width: 250px;
    margin: 15px 0px 0px 0px;
}
.assimble-cont{
    width: 80%;
    padding: 20px 20px 20px ;
    /*margin: auto;*/
}
/********************5th container****************************************/
.what-clients{
    text-align: center;
    line-height: 40px;
    margin-top: 90px;
    letter-spacing: 3px;
}
.what-clients h1  {
    font-size: 40px;
}
.container5{
    width: 100%;
    display: grid;
    grid-template-columns: 4% 30% 30% 30% 4%;
    grid-template-rows: repeat(2,230px);
    padding:30px 0px;
    margin: 30px 0px auto;
    gap: 10px 12px;
    
    
}
.container5 input{
    background: white;
    color: #B3B3B3;
    border: 0.5px solid #B3B3B3;
    margin: 200px 10px;
    margin-top: 200px;
}
.container5 input:hover{
    color:#035485;
    border: 0.5px solid #035485;
}
.client-el{
    background: white;
    width: 390px;
    height: 220px;
    font-size: 15px;
    padding: 40px 5px 10px 0px;
    box-shadow:  0px 35px 60px rgba(205,205,205,0.42);
}
.im{
    display:grid;
    grid-template-columns: 20% 30%;
    margin: 40px 0px 10px 26px;
    
}
.assimble-cont5{
    background-image: url("images/back-cont5.jpg") ;
    background-position: center;
    background-size: cover;
    padding-top: 40px;

}
/*****************************************************************/
.works-as{
    margin: 30px;
}
.works{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 40px;
}
.works p {
    margin-top: 10px;
    margin-left: 0px;
    
}
.works p a{
    text-decoration: none;
    color: black;
    font-weight: 700;

}
.works p a:hover{
color: #035485;

}
.works input{
    margin-top: 30px;
    margin-right: 90px;

}
.photos-cont4{
    display: grid;
    grid-template-areas: 
    "divs imag1 imag2 imag5"
    "bar imag3 imag4 imag5";
    gap: 30px 30px;
    margin-left: 40px;
}
.photos-cont4 img{
 width: 300px;
 height: 300px;
 border-radius: 10px;
 box-shadow:0px 35px 60px rgba(205,205,205,0.42) ;
}
#imag5{
    width:400px;
    /*height: 620px;*/
    height: 100%;
}
#bar{
    width: 15px;
    height: auto;
    margin-top: 180px;
}
#bar:hover{
cursor: pointer;
}
.bottom-cont4{
   display: flex; 
   justify-content: space-between; 
   width: 159%;
   margin-left: 93px;
   margin-top: 30px;
}
.bottom-cont4 a {
    text-decoration: none;
    color: #EA5425;
}
.bottom-cont4 a:hover{
    color: #035485;
    font-weight: 700;
}
/**************************************************************/
.cont6-h{
    padding: 10px;
    padding-left: 50px;
    margin: 10px 0px 20px 60px;
}
.cont6-h p {
    width: 78%;
    font-size: 17px;
    margin-top: 20px;
    margin-left: 0px;
}
.cont6-photoes{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    column-gap: 60px;
    margin: auto;
    margin-left: 10%;
}
.cont6-photo-el{
    margin: auto;
    padding-top: 20px;
   
}
.cont6-photo-el *{
    margin-left: 20px;
    line-height: 30px;
}
.cont6-photo-el img {
width: 140px;
margin: 20px;
margin-left: 38px;

}
.cont6-photo-el p{
    font-size: 40px;
    font-weight: 700;
    margin: 10px;
    margin-top: 30px;
    text-align: center;
}
.cont6-photo-el h2{
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
    margin-top: 15px;
    text-align: center;
}
/******************************************************************/
.container7{
margin-top: 100px;
padding: 20px;
background:#EEF4F5;
}
.container7 h1{
    margin-top:20px;
    text-align: center;
}
.cont7-logos{
    display: grid;
    grid-template-areas: 
    "ima1 ima2 ima3 "
    "ima4 ima5 ima6"
    ;
    width: 100%;
    margin: 50px 0px 0px 90px;
    padding: 20px;
    gap: 40px 90px;
}
.cont7-logos img{
    width: 180px;
    margin: 20px ;
}
/******************************************************************/
footer{
    background-image: url("images/about-us-bg.png");
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    height: 350px;
    padding-top: 70px;
}
footer p{
    width: 83%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 17px;
}


